myVenv
virtualvenv
extract.txt
sentences.txt
helper.py
output.txt
output2.txt
outputlmao.txt
Data
.cache
audio_features.log
sentiment.txt
polarities_gpt.txt
sentences_gpt.txt
Uploads
synthetic_sentiment_dataset_500.csv